/* *****************************************************************************
GENERAl
***************************************************************************** */
.mainButtons {

}





/* *****************************************************************************
NAV
***************************************************************************** */
.top-bar {
  background-color: #97893C;
  color: #1E1403;;
}



/* *****************************************************************************
SCOREBOARD
***************************************************************************** */
.scoreboard {
  background-color: #E5EB9C;
  padding: 75px 75px;
  height: 400px;
}

.scoreboard .small-2 .button-group {
  margin-right: 50px;
}

.scoreboard .small-2 .button-group .button{
  border-radius: 50px;
}

.playerBox {
  width: 400px;
  height: 250px;
  border: 1px solid #1E1403;
  margin: 0px;
  padding: 55px 25px;
}

.scoreBox {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: auto;
  border: 1px solid #1E1403;
  line-height: 1.15;
  color: #700D22;
}
 .scoreNum {
   font-size: 72px;
   padding-bottom: 5px;
 }




/* *****************************************************************************
MAIN SECTION
***************************************************************************** */
.main {

}





/* *****************************************************************************
FOOTER
***************************************************************************** */
.footer {

}
